:root {
    color-scheme: dark light;


    /*============== SUCCESS ================*/
    --light-info-fg-rgb: 30, 30, 30;
    --light-info-bg-rgb: 91, 192, 222;
    --light-info-fg: rgb(var(--light-info-fg-rgb));
    --light-info-bg: rgb(var(--light-info-bg-rgb));

    --dark-info-fg-rgb: var(--light-info-fg-rgb);
    --dark-info-bg-rgb: var(--light-info-bg-rgb);
    --dark-info-fg: rgb(var(--dark-info-fg-rgb));
    --dark-info-bg: rgb(var(--dark-info-bg-rgb));

    --info-bg-rgb: var(--light-info-bg-rgb);
    --info-bg: rgb(var(--info-bg-rgb));
    --info-fg-rgb: var(--light-info-fg-rgb);
    --info-fg: rgb(var(--info-fg-rgb));



    /*============== SUCCESS ================*/
    --light-success-fg-rgb: 26, 26, 26;
    --light-success-bg-rgb: 92, 184, 92;
    --light-success-fg: rgb(var(--light-success-fg-rgb));
    --light-success-bg: rgb(var(--light-success-bg-rgb));

    --dark-success-fg-rgb: var(--light-success-fg-rgb);
    --dark-success-bg-rgb: var(--light-success-bg-rgb);
    --dark-success-fg: rgb(var(--dark-success-fg-rgb));
    --dark-success-bg: rgb(var(--dark-success-bg-rgb));

    --success-bg-rgb: var(--light-success-bg-rgb);
    --success-bg: rgb(var(--success-bg-rgb));
    --success-fg-rgb: var(--light-success-fg-rgb);
    --success-fg: rgb(var(--success-fg-rgb));



    /*============== WARNING ================*/
    --light-warning-fg-rgb: 46, 46, 46;
    --light-warning-bg-rgb: 240, 173, 78;
    --light-warning-fg: rgb(var(--light-warning-fg-rgb));
    --light-warning-bg: rgb(var(--light-warning-bg-rgb));

    --dark-warning-fg-rgb: var(--light-warning-fg-rgb);
    --dark-warning-bg-rgb: var(--light-warning-bg-rgb);
    --dark-warning-fg: rgb(var(--dark-warning-fg-rgb));
    --dark-warning-bg: rgb(var(--dark-warning-bg-rgb));

    --warning-bg-rgb: var(--light-warning-bg-rgb);
    --warning-bg: rgb(var(--warning-bg-rgb));
    --warning-fg-rgb: var(--light-warning-fg-rgb);
    --warning-fg: rgb(var(--warning-fg-rgb));



    /*============== FAILURE ================*/
    --light-failure-fg-rgb: 23, 23, 23;
    --light-failure-bg-rgb: 217, 83, 79;
    --light-failure-fg: rgb(var(--light-failure-fg-rgb));
    --light-failure-bg: rgb(var(--light-failure-bg-rgb));

    --dark-failure-fg-rgb: var(--light-failure-fg-rgb);
    --dark-failure-bg-rgb: var(--light-failure-bg-rgb);
    --dark-failure-fg: rgb(var(--dark-failure-fg-rgb));
    --dark-failure-bg: rgb(var(--dark-failure-bg-rgb));

    --failure-bg-rgb: var(--light-failure-bg-rgb);
    --failure-bg: rgb(var(--failure-bg-rgb));
    --failure-fg-rgb: var(--light-failure-fg-rgb);
    --failure-fg: rgb(var(--failure-fg-rgb));



    /*============== PRIMARY ================*/
    --light-primary-fg-rgb: 30, 30, 30;
    --light-primary-bg-rgb: var(--info-bg-rgb);
    --light-primary-fg: rgb(var(--light-primary-fg-rgb));
    --light-primary-bg: rgb(var(--light-primary-bg-rgb));

    --dark-primary-fg-rgb: 255, 255, 255;
    --dark-primary-bg-rgb: var(--info-bg-rgb);
    --dark-primary-fg: rgb(var(--dark-primary-fg-rgb));
    --dark-primary-bg: rgb(var(--dark-primary-bg-rgb));

    --primary-bg-rgb: var(--light-primary-bg-rgb);
    --primary-bg: rgb(var(--primary-bg-rgb));
    --primary-fg-rgb: var(--light-primary-fg-rgb);
    --primary-fg: rgb(var(--primary-fg-rgb));



    /*============== SECONDARY ================*/
    --light-secondary-fg-rgb: 30, 30, 30;
    --light-secondary-bg-rgb: var(--light-info-bg-rgb);
    --light-secondary-fg: rgb(var(--light-secondary-fg-rgb));
    --light-secondary-bg: rgb(var(--light-secondary-bg-rgb));

    --dark-secondary-fg-rgb: 255, 255, 255;
    --dark-secondary-bg-rgb: var(--dark-info-bg-rgb);
    --dark-secondary-fg: rgb(var(--dark-secondary-fg-rgb));
    --dark-secondary-bg: rgb(var(--dark-secondary-bg-rgb));

    --secondary-bg-rgb: var(--light-secondary-bg-rgb);
    --secondary-bg: rgb(var(--secondary-bg-rgb));
    --secondary-fg-rgb: var(--light-secondary-fg-rgb);
    --secondary-fg: rgb(var(--secondary-fg-rgb));



    /*================= PLAIN =================*/
    --light-plain-fg-rgb: 80, 80, 80;
    --light-plain-bg-rgb: 238, 238, 238;
    --light-plain-fg: rgb(var(--light-plain-fg-rgb));
    --light-plain-bg: rgb(var(--light-plain-bg-rgb));

    --dark-plain-fg-rgb: 238, 238, 238;
    --dark-plain-bg-rgb: 51, 51, 51;
    --dark-plain-fg: rgb(var(--dark-plain-fg-rgb));
    --dark-plain-bg: rgb(var(--dark-plain-bg-rgb));

    --plain-fg-rgb: var(--light-plain-fg-rgb);
    --plain-bg-rgb: var(--light-plain-bg-rgb);
    --plain-fg: rgb(var(--plain-fg-rgb));
    --plain-bg: rgb(var(--plain-bg-rgb));

    --radius: .5em;
    --checkers: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2P8//+/PAMaYGRkfIghNhQUojsaxMfq7iGgEABCMCOXNMUjBwAAAABJRU5ErkJggg==);
    --inversion: 0;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --inversion: 0;

        --info-fg-rgb: var(--light-info-fg-rgb);
        --info-bg-rgb: var(--light-info-bg-rgb);

        --success-fg-rgb: var(--light-success-fg-rgb);
        --success-bg-rgb: var(--light-success-bg-rgb);

        --warning-fg-rgb: var(--light-warning-fg-rgb);
        --warning-bg-rgb: var(--light-warning-bg-rgb);

        --failure-fg-rgb: var(--light-failure-fg-rgb);
        --failure-bg-rgb: var(--light-failure-bg-rgb);

        --primary-fg-rgb: var(--light-primary-fg-rgb);
        --primary-bg-rgb: var(--light-primary-bg-rgb);

        --secondary-fg-rgb: var(--light-secondary-fg-rgb);
        --secondary-bg-rgb: var(--light-secondary-bg-rgb);

        --plain-fg-rgb: var(--light-plain-fg-rgb);
        --plain-bg-rgb: var(--light-plain-bg-rgb);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --inversion: 1;

        --info-fg-rgb: var(--dark-info-fg-rgb);
        --info-bg-rgb: var(--dark-info-bg-rgb);

        --success-fg-rgb: var(--dark-success-fg-rgb);
        --success-bg-rgb: var(--dark-success-bg-rgb);

        --warning-fg-rgb: var(--dark-warning-fg-rgb);
        --warning-bg-rgb: var(--dark-warning-bg-rgb);

        --failure-fg-rgb: var(--dark-failure-fg-rgb);
        --failure-bg-rgb: var(--dark-failure-bg-rgb);

        --primary-fg-rgb: var(--dark-primary-fg-rgb);
        --primary-bg-rgb: var(--dark-primary-bg-rgb);

        --secondary-fg-rgb: var(--dark-secondary-fg-rgb);
        --secondary-bg-rgb: var(--dark-secondary-bg-rgb);

        --plain-fg-rgb: var(--dark-plain-fg-rgb);
        --plain-bg-rgb: var(--dark-plain-bg-rgb);
    }
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /*background-color: var(--plain-bg);*/
    color: var(--plain-fg);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--info-bg);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.skeleton {
    background-repeat: no-repeat;
    background-image:
        /* layer 2: avatar */
        /* white circle with 16px radius */
            radial-gradient(circle 16px, white 99%, transparent 0),
                /* layer 1: title */
                /* white rectangle with 40px height */
            linear-gradient(white 40px, transparent 0),
                /* layer 0: card bg */
                /* gray rectangle that covers whole element */
            linear-gradient(gray 100%, transparent 0);
}

[hidden] {
    display: none !important;
}

[contenteditable] {
    user-select: initial;
}

[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    display: block;
    position: absolute;
    left: 50%;
    top: -.75em;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
    font-size: 1em;
}

[tooltip]::before {
    content: '';
    border-top: .75em solid var(--plain-bg);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    transform: translate(-50%, 0);
}

[tooltip]::after {
    content: attr(tooltip);
    padding: .5em 1em;
    line-height: 1em;
    background-color: var(--plain-bg);
    color: var(--plain-fg);
    white-space: nowrap;
    overflow: hidden;
    border-radius: var(--radius);
    transform: translate(-50%, -100%);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    opacity: 1;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    display: table-header-group;
}

table thead tr:last-child {
    background-color: transparent;
    border-bottom: 1px solid rgba(var(--plain-fg), .1);
}

table thead tr:last-child th,
table thead tr:last-child td {
    background-color: inherit;
    color: inherit;
}

table tbody {
    display: table-row-group;
}

table tfoot {
    display: table-footer-group;
}

table tfoot tr:first-child th,
table tfoot tr:first-child td {
    border-top: 1px solid rgba(var(--plain-fg), .1);
}

table tr {
    display: table-row;
}

table td,
table th {
    display: table-cell;
    vertical-align: middle;
    padding: .5em 1em;
    text-align: left;
}

table td.text-right,
table th.text-right {
    text-align: right;
}

table[striped] tbody > :nth-child(odd) tr {
    background-color: rgba(var(--plain-fg), .1);
}

table[sortable] th {
    cursor: pointer;
}

table[focusable] tbody tr:hover td {
    background-color: var(--info-bg-rgb, .1);
    transition: background .3s;
    cursor: pointer;
}

table[selectable] tbody tr:hover td,
table[selectable] tbody tr:hover th {
    background-color: rgba(var(--plain-bg), .1);
}

[scroller]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 9;
    width: 100%;
    height: var(--scroller-height);
    pointer-events: none;
}
