:root {
    color-scheme: dark light;

    --info-bg-rgb: 91, 192, 222;
    --info-bg: rgb(var(--info-bg-rgb));

    --warning-bg-rgb: 240, 173, 78;
    --warning-bg: rgb(var(--warning-bg-rgb));

    --failure-bg-rgb: 217, 83, 79;
    --failure-bg: rgb(var(--failure-bg-rgb));

    --success-bg-rgb: 92, 184, 92;
    --success-bg: rgb(var(--success-bg-rgb));

    /*============== PRIMARY ================*/
    --light-primary-fg-rgb: 30, 30, 30;
    --light-primary-bg-rgb: var(--info-bg-rgb);
    --light-primary-fg: rgb(var(--light-primary-fg-rgb));
    --light-primary-bg: rgb(var(--light-primary-bg-rgb));

    --dark-primary-fg-rgb: 255, 255, 255;
    --dark-primary-bg-rgb: var(--info-bg-rgb);
    --dark-primary-fg: rgb(var(--dark-primary-fg-rgb));
    --dark-primary-bg: rgb(var(--dark-primary-bg-rgb));

    --primary-bg-rgb: var(--light-primary-bg-rgb);
    --primary-bg: rgb(var(--primary-bg-rgb));
    --primary-fg-rgb: var(--light-primary-fg-rgb);
    --primary-fg: rgb(var(--primary-fg-rgb));


    /*=============== SECONDARY ===============*/
    --secondary-bg-rgb: var(--info-bg-rgb);
    --secondary-fg-rgb: 255, 255, 255;
    --secondary-bg: rgb(var(--secondary-bg-rgb));
    --secondary-fg: rgb(var(--secondary-fg-rgb));



    /*================= PLAIN =================*/
    --light-plain-fg-rgb: 80, 80, 80;
    --light-plain-bg-rgb: 238, 238, 238;
    --light-plain-fg: rgb(var(--light-plain-fg-rgb));
    --light-plain-bg: rgb(var(--light-plain-bg-rgb));

    --dark-plain-fg-rgb: 238, 238, 238;
    --dark-plain-bg-rgb: 51, 51, 51;
    --dark-plain-fg: rgb(var(--dark-plain-fg-rgb));
    --dark-plain-bg: rgb(var(--dark-plain-bg-rgb));

    --plain-fg-rgb: var(--light-plain-fg-rgb);
    --plain-bg-rgb: var(--light-plain-bg-rgb);
    --plain-fg: rgb(var(--plain-fg-rgb));
    --plain-bg: rgb(var(--plain-bg-rgb));

    --radius: .5em;
    --checkers: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2P8//+/PAMaYGRkfIghNhQUojsaxMfq7iGgEABCMCOXNMUjBwAAAABJRU5ErkJggg==);
    --inversion: 0;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --inversion: 0;
        --plain-fg-rgb: var(--light-plain-fg-rgb);
        --plain-bg-rgb: var(--light-plain-bg-rgb);
        --primary-fg-rgb: var(--light-primary-fg-rgb);
        --primary-bg-rgb: var(--light-primary-bg-rgb);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --inversion: 1;
        --plain-fg-rgb: var(--dark-plain-fg-rgb);
        --plain-bg-rgb: var(--dark-plain-bg-rgb);
        --primary-fg-rgb: var(--dark-primary-fg-rgb);
        --primary-bg-rgb: var(--dark-primary-bg-rgb);
    }
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /*background-color: var(--plain-bg);*/
    color: var(--plain-fg);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--info-bg);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.skeleton {
    background-repeat: no-repeat;
    background-image:
        /* layer 2: avatar */
        /* white circle with 16px radius */
            radial-gradient(circle 16px, white 99%, transparent 0),
                /* layer 1: title */
                /* white rectangle with 40px height */
            linear-gradient(white 40px, transparent 0),
                /* layer 0: card bg */
                /* gray rectangle that covers whole element */
            linear-gradient(gray 100%, transparent 0);
}

[hidden] {
    display: none !important;
}

[contenteditable] {
    user-select: initial;
}

[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    display: block;
    position: absolute;
    left: 50%;
    top: -.75em;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
    font-size: 1em;
}

[tooltip]::before {
    content: '';
    border-top: .75em solid var(--plain-bg);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    transform: translate(-50%, 0);
}

[tooltip]::after {
    content: attr(tooltip);
    padding: .5em 1em;
    line-height: 1em;
    background-color: var(--plain-bg);
    color: var(--plain-fg);
    white-space: nowrap;
    overflow: hidden;
    border-radius: var(--radius);
    transform: translate(-50%, -100%);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    opacity: 1;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    display: table-header-group;
}

table thead tr:last-child {
    background-color: transparent;
    border-bottom: 1px solid rgba(var(--plain-fg), .1);
}

table thead tr:last-child th,
table thead tr:last-child td {
    background-color: inherit;
    color: inherit;
}

table tbody {
    display: table-row-group;
}

table tfoot {
    display: table-footer-group;
}

table tfoot tr:first-child th,
table tfoot tr:first-child td {
    border-top: 1px solid rgba(var(--plain-fg), .1);
}

table tr {
    display: table-row;
}

table td,
table th {
    display: table-cell;
    vertical-align: middle;
    padding: .5em 1em;
    text-align: left;
}

table td.text-right,
table th.text-right {
    text-align: right;
}

table[striped] tbody > :nth-child(odd) tr {
    background-color: rgba(var(--plain-fg), .1);
}

table[sortable] th {
    cursor: pointer;
}

table[focusable] tbody tr:hover td {
    background-color: var(--info-bg-rgb, .1);
    transition: background .3s;
    cursor: pointer;
}

table[selectable] tbody tr:hover td,
table[selectable] tbody tr:hover th {
    background-color: rgba(var(--plain-bg), .1);
}

[scroller]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 9;
    width: 100%;
    height: var(--scroller-height);
    pointer-events: none;
}
