:host {
    display: grid;
    grid-template-columns: [full-start] var(--columns) [full-end];
}

:host > :is(header, main) {
    display: contents;
}

:host > :is(header, main) > row {
    grid-column: full;
    display: grid;
    grid-template-columns: var(--columns);
}

:host > :is(header, main) > row cell {
    display: grid;
    align-content: center;
    padding: 1em 1.5em;
}

:host > header > row cell {
    font-weight: 900;
}

:host > main > row {
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

:host > main > row:hover {
    background-color: rgba(var(--plain-fg-rgb), .15);
}

:host > main > row.selected {
    background-color: rgba(var(--info-bg-rgb), .15);
}

/* Disabled selection mode */
:host > :is(header, main)[select="none"] > row > cell:first-of-type {
    display: none;
}

/* Singular selection mode */
:host > header[select="single"] > row > cell:first-of-type > fyn-common-form-checkbox {
    opacity: 0;
    pointer-events: none;
}