:host {
    --list-length: 0;
    --bg: rgba(var(--plain-fg-rgb), .1);
    --vc: var(--primary-bg);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        'label value'
        'track track'
    ;
    grid-gap: 1em .5em;
    justify-content: space-between;
    inline-size: auto;
    block-size: 2em;
    contain: content;
    padding: .5em;
}

:host > label {
    grid-area: label;
    place-self: center start;
    block-size: 1em;
    inline-size: 100%;
    padding: 0;
    font-size: 0.6em;
    line-height: 1em;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-1.25em);
}

:host > input {
    -webkit-appearance: none;
    grid-area: track;
    inline-size: 100%;
    block-size: 2em;
    margin: 0;
}

:host > input:focus {
    outline: none;
}

:host > input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: var(--bg);
    inline-size: 100%;
    block-size: 100%;
}

:host > input::-webkit-slider-thumb  {
    appearance: none;
    -webkit-appearance: none;
    inline-size: 1em;
    block-size: 100%;
    border-radius: var(--radius);
    background: var(--plain-fg);
    cursor: pointer;
}

:host > input + datalist {
    grid-area: track;
    display: block;
    position: relative;
    pointer-events: none;
}

:host > input + datalist option {
    --margin: 1em;
    position: absolute;
    left: calc(var(--offset) * (100% - var(--margin)) + (var(--margin) / 2));
    top: 50%;
    display: inline-block;
    inline-size: 2px;
    block-size: 1.4em;
    padding: 0;
    margin: 0;
    background-color: var(--plain-fg);
    transform: translate(-50%, -50%);
}

:host > input + datalist option[label]::after {
    content: attr(label);
    display: block;
}

:host > span:last-of-type {
    text-align: right;
}

:host([vertical]) {
    grid-template-columns: unset;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'label'
        'track'
        'value'
    ;
    grid-gap: .5em 1em;
    align-content: space-between;
    justify-content: unset;
    /*inline-size: 2em;*/
    block-size: auto;
}

:host([vertical]) > label {
    grid-column: unset;
}

:host([vertical]) > input {
    transform: rotate(-90deg);
}