:host {
    display: contents;
}

:host fyn-common-layout-grid {
    gap: 0;
    inline-size: 100%;
    block-size: 100%;
    overflow: hidden;
}

:host fyn-common-layout-tabs {
    inline-size: 100%;
    block-size: 100%;
    /*min-inline-size: 5em;*/
    /*min-block-size: 5em;*/
    /*overflow: auto;*/
}

:host fyn-common-layout-tabs.docked {
    position: relative;
    pointer-events: none;
    z-index: 2;
}
:host fyn-common-layout-tabs.docked::part(bar) {
    position: absolute;
    block-size: 2.25em;
    background-color: var(--plain-bg);
    border-bottom: none;
    transform-origin: 0 0;
    pointer-events: all;
    z-index: 1;
}
:host fyn-common-layout-tabs.docked::part(content) {
    --f: 0;
    position: absolute;
    background-color: var(--plain-bg);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}
:host fyn-common-layout-tabs.docked[open]::part(content) {
    --f: 1;
    opacity: 1;
    pointer-events: all;
}


:host fyn-common-layout-tabs.docked.left,
:host fyn-common-layout-tabs.docked.right {
    inline-size: 2.25em;
    block-size: 100%;
}
:host fyn-common-layout-tabs.docked.left::part(bar),
:host fyn-common-layout-tabs.docked.right::part(bar) {
    inline-size: 100vh;
}
:host fyn-common-layout-tabs.docked.left::part(content),
:host fyn-common-layout-tabs.docked.right::part(content) {
    inline-size: 15em;
    block-size: 100%;
}

:host fyn-common-layout-tabs.docked.left::part(bar) {
    left: 0;
    top: 0;
    transform: rotate(90deg) translateY(-100%);
}
:host fyn-common-layout-tabs.docked.left::part(content) {
    left: 0;
    top: 0;
    box-shadow: .5em 0 1em #0003;
    transform: translateX(calc((var(--f) * 2.25em) + ((1 - var(--f)) * -100%)));
}

:host fyn-common-layout-tabs.docked.right::part(bar) {
    left: 0;
    top: 0;
    transform: rotate(90deg) translateY(-100%);
}
:host fyn-common-layout-tabs.docked.right::part(tab) {
    transform: rotate(180deg);
}
:host fyn-common-layout-tabs.docked.right::part(content) {
    left: 100%;
    top: 0;
    box-shadow: -.5em 0 1em #0003;
    transform: translateX(calc((var(--f) * -2.25em) + ((var(--f)) * -100%)));
}


:host fyn-common-layout-tabs.docked.top,
:host fyn-common-layout-tabs.docked.bottom {
    inline-size: 100%;
    block-size: 2.25em;
}
:host fyn-common-layout-tabs.docked.top::part(bar),
:host fyn-common-layout-tabs.docked.bottom::part(bar) {
    inline-size: 100%;
}
:host fyn-common-layout-tabs.docked.top::part(content),
:host fyn-common-layout-tabs.docked.bottom::part(content) {
    inline-size: 100%;
    block-size: 15em;
}

:host fyn-common-layout-tabs.docked.top::part(bar) {
    left: 0;
    top: 0;
}
:host fyn-common-layout-tabs.docked.top::part(content) {
    box-shadow: 0 .5em 1em #0003;
    transform: translateY(calc((var(--f) * 2.25em) + ((1 - var(--f)) * -100%)));
}

:host fyn-common-layout-tabs.docked.bottom::part(bar) {
    left: 0;
    bottom: 0;
}
:host fyn-common-layout-tabs.docked.bottom::part(content) {
    left: 0;
    bottom: 0;
    box-shadow: 0 -.5em 1em #0003;
    transform: translateY(calc((var(--f) * -2.25em) + ((1 - var(--f)) * 100%)));
}