:host {
    display: grid;
    grid-template-rows: auto 1fr;
}

:host > #bar {
    grid-area: 1 / 1;
}

:host > #bar > tab {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: .5em;
    background-color: transparent;
    border-radius: var(--radius) var(--radius) 0 0;
    padding: .5em 1em;
    block-size: 2.2em;
    user-select: none;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20em;
}

:host > #bar > tab > span {
    overflow: hidden;
    text-overflow: ellipsis;
}

:host > #bar > tab > fyn-common-form-button {
    padding: 0;
    line-height: 1em;
}

:host > #bar > tab > fyn-common-form-button::part(icon) {
    line-height: 1em;
}

:host > #bar > delimiter {
    padding: .5em 1em;
}

:host > #bar > delimiter:empty,
:host > #bar > tab:last-of-type + delimiter {
    display: none;
}

:host > #bar > tab[has-content="false"] {
    display: none;
}

:host > #bar > tab:only-of-type {
    inline-size: 100%;
}

:host > #bar > tab:not(:only-child):hover {
    background-color: rgba(var(--plain-fg-rgb), .1);
}

:host > #bar > tab:not(:only-child)[part~="tab-active"] {
    background-color: rgba(var(--plain-fg-rgb), .15);
}

:host > #indicator {
    grid-area: 1 / 1;
    inline-size: 0;
    block-size: 2px;
    margin-top: 2.1em;
    border-radius: 2px;
    background-color: var(--primary-bg);
    bottom: 0;
    transform: rotate(30deg);
}

:host > main {
    position: relative;
    display: grid;
    grid-auto-rows: 100%;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    inline-size: 100%;
    block-size: 100%;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

:host > main > slot::slotted(*) {
    padding: 1em;
    scroll-snap-align: center;
}

:host([static="true"]) {
    grid-template-rows: 1fr;
}

:host([static="true"]) > :is(#bar, #indicator) {
    display: none;
}

:host > #bar {
    border-bottom: 1px solid rgba(var(--plain-fg-rgb), .15);
}

:host(.docked) > #indicator {
    display: none;
}