<fyn-common-layout-list horizontal sortable id="bar" part="bar" :for="{{ i, tab of tabs }}">
    <tab
        part="tab {{ i === this.index ? 'tab-active' : '' }}"
        has-content="{{ tab.title.length > 0 }}"
        title="{{ t(tab.title, { _returnKey: true }) }}"
        index="{{ i }}"
    >
        <span>{{ t(tab.title, { _returnKey: true }) }}</span>

        <fyn-common-form-button :if="{{ tab.closable }}" icons="times" flat></fyn-common-form-button>
    </tab>
    
    <delimiter part="delimiter {{ i === this.index ? 'delimiter-active' : '' }}">{{ this.delimiter }}</delimiter>
</fyn-common-layout-list>

<div id="indicator" part="indicator" class="snap-indicator"></div>

<main id="content" part="content">
    <slot></slot>
</main>
