<link rel="stylesheet" type="text/css" href="/node_modules/@fyn-software/suite/css/style.css">

<style>
    :host {
        display: grid;
        grid: auto / 1fr 2em;
        grid-auto-rows: 1fr;
        grid-gap: 1em;
        padding: .25em 1em 1em;
        border-top: 1px solid rgba(var(--plain-fg-rgb), .5);
    }

    :host > [title],
    :host > [handle] {
        align-self: center;
        transition: transform .3s ease-in-out;
        cursor: pointer;
    }

    :host > [title] {
        justify-self: start;
    }

    :host > content {
        grid-column: span 2;
        display: grid;
        gap: 1em;
    }

    :host > content ::slotted(*) {
        min-height: 0;
        min-width: 0;
    }

    :host([closed]) > content {
        display: none;
    }

    :host([closed]) > [handle] {
        transform: rotate(180deg);
    }
</style>

<fyn-common-graphics-icon title icons="{{ icons }}">{{ title }}</fyn-common-graphics-icon>

<fyn-common-graphics-icon handle icons="angle-down"></fyn-common-graphics-icon>

<content>
    <slot></slot>
</content>
