<style>
    :host {
        display: contents;
    }

    :host fyn-common-layout-grid {
        gap: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    :host fyn-common-layout-tabs {
        width: 100%;
        height: 100%;
        /*border: 3px solid coral;*/
    }
</style>

<fyn-common-layout-grid grid="{{ grid }}" cells="{{ cells }}" :for="{{ i, cell of cells }}" part="content">
    <fyn-common-layout-tabs slot="{{ i }}">
        <slot name="{{ i }}"></slot>
    </fyn-common-layout-tabs>
</fyn-common-layout-grid>
