<style>
    :host {
        position: relative;
        display: grid;
        gap: var(--gap);
        /* overflow: hidden; */
    }

    /*:host ::slotted(:last-child) {*/
    /*    padding-bottom: inherit;*/
    /*}*/

    :host([horizontal]) {
        grid-auto-flow: column;
        justify-content: start;
        overflow-x: auto;
    }

    :host([vertical]) {
        grid-auto-flow: row;
        align-content: start;
        overflow-y: auto;
    }

    :host > [preview] {
        position: absolute;
        height: 100%;
        padding: .5em;
        top: 0;
        background-color: var(--info-bg);
        border-radius: var(--radius);
    }
</style>

<slot></slot>
