<style>
    :host {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    :host([static="true"]) {
        grid-template-rows: 1fr;
    }

    :host([static="true"]) #bar {
        display: none;
    }

    #bar {
        border-bottom: 1px solid rgba(var(--plain-fg-rgb), .15);
    }

    #bar > tab {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        gap: .5em;
        background-color: transparent;
        border-radius: var(--radius) var(--radius) 0 0;
        padding: .5em 1em;
        height: 2.2em;
        user-select: none;
        cursor: pointer;
        transition: .3s background-color ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 20em;
    }

    #bar > tab > fyn-common-form-button {
        padding: 0;
        line-height: 1em;
    }

    #bar > tab > fyn-common-form-button::part(icon) {
        line-height: 1em;
    }

    #bar > delimiter {
        padding: .5em 1em;
    }

    #bar > delimiter:empty,
    #bar > tab:last-of-type + delimiter {
        display: none;
    }

    #bar > tab[has-content="false"] {
        display: none;
    }

    #bar > tab:only-of-type {
        width: 100%;
    }

    #bar > tab:not(:only-child):hover {
        background-color: rgba(var(--plain-fg-rgb), .1);
    }

    #bar > tab:not(:only-child)[part~="tab-active"] {
        background-color: rgba(var(--plain-fg-rgb), .15);
    }

    :host > main {
        position: relative;
        display: grid;
        grid-auto-rows: 100%;
        grid-auto-columns: 100%;
    }

    :host > main > slot::slotted(*) {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1em;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
    }

    :host > main > slot::slotted(*[active]) {
        opacity: 1;
        pointer-events: all;
    }
</style>

<fyn-common-layout-list horizontal sortable id="bar" part="bar" :for="{{ i, tab of tabs }}">
    <tab part="tab {{ i === this.index ? 'tab-active' : '' }}" index="{{ i }}" has-content="{{ tab.title.length > 0 }}">
        <span>{{ tab.title }}</span>

        <fyn-common-form-button :if="{{ tab.closable }}" icons="times" flat></fyn-common-form-button>
    </tab>
    <delimiter part="delimiter {{ i === this.index ? 'delimiter-active' : '' }}">{{ this.delimiter }}</delimiter>
</fyn-common-layout-list>

<main part="content">
    <slot></slot>
</main>
