<style>
    :host {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    #bar {
        border-bottom: 1px solid rgba(var(--plain-fg-rgb), .15);
    }

    #bar > tab {
        position: relative;
        grid-auto-flow: column;
        gap: .5em;
        background-color: transparent;
        border-radius: var(--radius) var(--radius) 0 0;
        padding: .5em 1em;
        user-select: none;
        cursor: pointer;
        transition: .3s background-color ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 20em;
    }

    #bar > delimiter {
        padding: .5em 1em;
    }

    #bar > delimiter:empty,
    #bar > tab:last-of-type + delimiter {
        display: none;
    }

    #bar > tab:empty {
        display: none;
    }

    #bar > tab:only-child {
        width: 100%;
    }

    #bar > tab:not(:only-child):hover {
        background-color: rgba(var(--plain-fg-rgb), .1);
    }

    #bar > tab:not(:only-child)[part~="tab-active"] {
        background-color: rgba(var(--plain-fg-rgb), .15);
    }

    :host > main {
        position: relative;
        display: grid;
        grid-auto-rows: 100%;
        grid-auto-columns: 100%;
    }

    :host > main > slot::slotted(*) {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1em;
        opacity: 0;
        pointer-events: none;
    }

    :host > main > slot::slotted(*[active]) {
        opacity: 1;
        pointer-events: all;
    }
</style>

<fyn-common-layout-list horizontal sortable id="bar" part="bar" :for="{{ i, tab of tabs }}">
    <tab part="tab {{ i === this.index ? 'tab-active' : '' }}" index="{{ i }}">{{ tab }}</tab>
    <delimiter part="delimiter {{ i === this.index ? 'delimiter-active' : '' }}">{{ this.delimiter }}</delimiter>
</fyn-common-layout-list>

<main part="content">
    <slot></slot>
</main>
