<fyn-common-layout-list horizontal sortable id="bar" part="bar" :for="{{ i, tab of tabs }}">
    <tab part="tab {{ i === this.index ? 'tab-active' : '' }}" index="{{ i }}" has-content="{{ tab.title.length > 0 }}">
        <span>{{ tab.title }}</span>

        <fyn-common-form-button :if="{{ tab.closable }}" icons="times" flat></fyn-common-form-button>
    </tab>
    <delimiter part="delimiter {{ i === this.index ? 'delimiter-active' : '' }}">{{ this.delimiter }}</delimiter>
</fyn-common-layout-list>

<main part="content">
    <slot></slot>
</main>
