html {
    width: 100vw;
    height: 100vh;
    overflow: clip scroll;
    overscroll-behavior: contain;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--plain-bg);
    color: var(--plain-fg);
    overflow: clip visible;
}

a {
    color: var(--info-bg);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none !important;
}

@media (max-width: 768px) {
    html {
        padding-block-end: 3em;
    }
}

@page {
    size: A4;
}

@media print {
    html,
    body,
    body * {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        visibility: hidden;
    }

    html,
    body,
    body * {
        break-inside: avoid;
        visibility: visible;
    }
}
