:root {
    color-scheme: dark light;

    /*=============== INFO =================*/
    --light-info-fg-rgb: 30, 30, 30;
    --light-info-bg-rgb: 91, 192, 222;
    --light-info-fg: rgb(var(--light-info-fg-rgb));
    --light-info-bg: rgb(var(--light-info-bg-rgb));

    --dark-info-fg-rgb: var(--light-info-fg-rgb);
    --dark-info-bg-rgb: var(--light-info-bg-rgb);
    --dark-info-fg: rgb(var(--dark-info-fg-rgb));
    --dark-info-bg: rgb(var(--dark-info-bg-rgb));

    --info-bg-rgb: var(--light-info-bg-rgb);
    --info-bg: rgb(var(--info-bg-rgb));
    --info-fg-rgb: var(--light-info-fg-rgb);
    --info-fg: rgb(var(--info-fg-rgb));



    /*============== SUCCESS ================*/
    --light-positive-fg-rgb: 26, 26, 26;
    --light-positive-bg-rgb: 92, 184, 92;
    --light-positive-fg: rgb(var(--light-positive-fg-rgb));
    --light-positive-bg: rgb(var(--light-positive-bg-rgb));

    --dark-positive-fg-rgb: var(--light-positive-fg-rgb);
    --dark-positive-bg-rgb: var(--light-positive-bg-rgb);
    --dark-positive-fg: rgb(var(--dark-positive-fg-rgb));
    --dark-positive-bg: rgb(var(--dark-positive-bg-rgb));

    --positive-bg-rgb: var(--light-positive-bg-rgb);
    --positive-bg: rgb(var(--positive-bg-rgb));
    --positive-fg-rgb: var(--light-positive-fg-rgb);
    --positive-fg: rgb(var(--positive-fg-rgb));



    /*============== WARNING ================*/
    --light-warning-fg-rgb: 46, 46, 46;
    --light-warning-bg-rgb: 240, 173, 78;
    --light-warning-fg: rgb(var(--light-warning-fg-rgb));
    --light-warning-bg: rgb(var(--light-warning-bg-rgb));

    --dark-warning-fg-rgb: var(--light-warning-fg-rgb);
    --dark-warning-bg-rgb: var(--light-warning-bg-rgb);
    --dark-warning-fg: rgb(var(--dark-warning-fg-rgb));
    --dark-warning-bg: rgb(var(--dark-warning-bg-rgb));

    --warning-bg-rgb: var(--light-warning-bg-rgb);
    --warning-bg: rgb(var(--warning-bg-rgb));
    --warning-fg-rgb: var(--light-warning-fg-rgb);
    --warning-fg: rgb(var(--warning-fg-rgb));



    /*============== FAILURE ================*/
    --light-negative-fg-rgb: 23, 23, 23;
    --light-negative-bg-rgb: 217, 83, 79;
    --light-negative-fg: rgb(var(--light-negative-fg-rgb));
    --light-negative-bg: rgb(var(--light-negative-bg-rgb));

    --dark-negative-fg-rgb: var(--light-negative-fg-rgb);
    --dark-negative-bg-rgb: var(--light-negative-bg-rgb);
    --dark-negative-fg: rgb(var(--dark-negative-fg-rgb));
    --dark-negative-bg: rgb(var(--dark-negative-bg-rgb));

    --negative-bg-rgb: var(--light-negative-bg-rgb);
    --negative-bg: rgb(var(--negative-bg-rgb));
    --negative-fg-rgb: var(--light-negative-fg-rgb);
    --negative-fg: rgb(var(--negative-fg-rgb));



    /*============== PRIMARY ================*/
    --light-primary-fg-rgb: 30, 30, 30;
    --light-primary-bg-rgb: var(--info-bg-rgb);
    --light-primary-fg: rgb(var(--light-primary-fg-rgb));
    --light-primary-bg: rgb(var(--light-primary-bg-rgb));

    --dark-primary-fg-rgb: 255, 255, 255;
    --dark-primary-bg-rgb: var(--info-bg-rgb);
    --dark-primary-fg: rgb(var(--dark-primary-fg-rgb));
    --dark-primary-bg: rgb(var(--dark-primary-bg-rgb));

    --primary-bg-rgb: var(--light-primary-bg-rgb);
    --primary-bg: rgb(var(--primary-bg-rgb));
    --primary-fg-rgb: var(--light-primary-fg-rgb);
    --primary-fg: rgb(var(--primary-fg-rgb));



    /*============== SECONDARY ================*/
    --light-secondary-fg-rgb: 30, 30, 30;
    --light-secondary-bg-rgb: var(--light-info-bg-rgb);
    --light-secondary-fg: rgb(var(--light-secondary-fg-rgb));
    --light-secondary-bg: rgb(var(--light-secondary-bg-rgb));

    --dark-secondary-fg-rgb: 255, 255, 255;
    --dark-secondary-bg-rgb: var(--dark-info-bg-rgb);
    --dark-secondary-fg: rgb(var(--dark-secondary-fg-rgb));
    --dark-secondary-bg: rgb(var(--dark-secondary-bg-rgb));

    --secondary-bg-rgb: var(--light-secondary-bg-rgb);
    --secondary-bg: rgb(var(--secondary-bg-rgb));
    --secondary-fg-rgb: var(--light-secondary-fg-rgb);
    --secondary-fg: rgb(var(--secondary-fg-rgb));



    /*================= PLAIN =================*/
    --light-plain-fg-rgb: 80, 80, 80;
    --light-plain-bg-rgb: 238, 238, 238;
    --light-plain-fg: rgb(var(--light-plain-fg-rgb));
    --light-plain-bg: rgb(var(--light-plain-bg-rgb));

    --dark-plain-fg-rgb: 238, 238, 238;
    --dark-plain-bg-rgb: 51, 51, 51;
    --dark-plain-fg: rgb(var(--dark-plain-fg-rgb));
    --dark-plain-bg: rgb(var(--dark-plain-bg-rgb));

    --plain-fg-rgb: var(--light-plain-fg-rgb);
    --plain-bg-rgb: var(--light-plain-bg-rgb);
    --plain-fg: rgb(var(--plain-fg-rgb));
    --plain-bg: rgb(var(--plain-bg-rgb));

    --radius: .5em;
    --checkers: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2P8//+/PAMaYGRkfIghNhQUojsaxMfq7iGgEABCMCOXNMUjBwAAAABJRU5ErkJggg==);
    --inversion: 0;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --inversion: 0;

        --info-fg-rgb: var(--light-info-fg-rgb);
        --info-bg-rgb: var(--light-info-bg-rgb);

        --positive-fg-rgb: var(--light-positive-fg-rgb);
        --positive-bg-rgb: var(--light-positive-bg-rgb);

        --warning-fg-rgb: var(--light-warning-fg-rgb);
        --warning-bg-rgb: var(--light-warning-bg-rgb);

        --negative-fg-rgb: var(--light-negative-fg-rgb);
        --negative-bg-rgb: var(--light-negative-bg-rgb);

        --primary-fg-rgb: var(--light-primary-fg-rgb);
        --primary-bg-rgb: var(--light-primary-bg-rgb);

        --secondary-fg-rgb: var(--light-secondary-fg-rgb);
        --secondary-bg-rgb: var(--light-secondary-bg-rgb);

        --plain-fg-rgb: var(--light-plain-fg-rgb);
        --plain-bg-rgb: var(--light-plain-bg-rgb);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --inversion: 1;

        --info-fg-rgb: var(--dark-info-fg-rgb);
        --info-bg-rgb: var(--dark-info-bg-rgb);

        --positive-fg-rgb: var(--dark-positive-fg-rgb);
        --positive-bg-rgb: var(--dark-positive-bg-rgb);

        --warning-fg-rgb: var(--dark-warning-fg-rgb);
        --warning-bg-rgb: var(--dark-warning-bg-rgb);

        --negative-fg-rgb: var(--dark-negative-fg-rgb);
        --negative-bg-rgb: var(--dark-negative-bg-rgb);

        --primary-fg-rgb: var(--dark-primary-fg-rgb);
        --primary-bg-rgb: var(--dark-primary-bg-rgb);

        --secondary-fg-rgb: var(--dark-secondary-fg-rgb);
        --secondary-bg-rgb: var(--dark-secondary-bg-rgb);

        --plain-fg-rgb: var(--dark-plain-fg-rgb);
        --plain-bg-rgb: var(--dark-plain-bg-rgb);
    }
}