:host {
    display: grid;
    grid-auto-flow: column;
    gap: .5em;
    justify-content: start;
    contain: size layout style;
}

:host([vertical]) {
    grid-auto-flow: row;
    justify-content: stretch;
}