:host {
    display: grid;
    grid: auto / 1fr 2em;
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    border-top: 1px solid rgba(var(--plain-fg-rgb), .5);
}

:host > [part="title"],
:host > [part="handle"] {
    align-self: center;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

:host > [part="title"] {
    justify-self: start;
}

:host > main {
    grid-column: span 2;
    display: grid;
    gap: 1em;
}

:host > main ::slotted(*) {
    min-height: 0;
    min-width: 0;
}

:host([closed]) > main {
    display: none;
}

:host([closed]) > [part="handle"] {
    transform: rotate(180deg);
}